<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.wssyncmldm"
    android:versionCode="1"
    android:versionName="1.0">

    <uses-sdk android:minSdkVersion="24" android:targetSdkVersion="35" />

    <application
        android:label="Software update"
        android:theme="@android:style/Theme.NoDisplay">

        <activity
            android:name=".UserInitEntryActivity"
            android:exported="true"
            android:theme="@android:style/Theme.NoDisplay">
            <intent-filter>
                <action android:name="com.wssyncmldm.UserInitEntryActivity" />
                <action android:name="sec.fota.action.SOFTWARE_UPDATE" />
                <action android:name="com.samsung.settings.SOFTWARE_UPDATE_SETTINGS" />
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>

        <receiver
            android:name=".FotaBroadcastReceiver"
            android:exported="true">
            <intent-filter>
                <action android:name="sec.fota.action.SOFTWARE_UPDATE" />
            </intent-filter>
        </receiver>

    </application>
</manifest>
